theme = "slim"
languageCode = "ja"
author = "raahii"
title = "raahii's blog"
baseurl = "https://raahii.github.io/blog"
googleanalytics = "UA-86522604-4"

[params]
  Subtitle = "development, life log"
  GithubID = "raahii"
  TwitterID = "piyo56.net"
  AnalyticsID = "UA-86522604-4"
  DisqusShortname = "Your Disqus shortname"
  Summary = false  # takes true or false
  Content = false  # takes true or false
  FooterMsg = "raahii All rights reserved."
